name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: Lint & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Lint source code
        run: npm run lint

      - name: Format check
        run: npm run format:check

      - name: Build package
        run: npm run build
